<ion-modal-view >
    <ion-header-bar class="positive-bg text-center">
        <div class="h1 title light">{{c.localize.strings['helpCenter']}}</div>



        <button class="button button-icon icon ion-ios-close-empty light" ng-click="c.about.close()"></button>


    </ion-header-bar >
    <ion-content >
    <div class="list">
        <div class="item item-text-wrap padding item-icon-right">

            <h2 class="positive">{{c.localize.strings['whatIs']}}<b> Wanna Win</b>?</h2>
            <ul class="padding">
                <li>{{c.localize.strings['aPowerfulTools']}}<b>{{c.localize.strings['instagramGiveaways']}}</b>.</li>
                <li>{{c.localize.strings['itLikesAndReposts']}}<i>{{c.localize.strings['itHasNeverBeenSimple']}}</i></li>
                <li>{{c.localize.strings['automaticallyChooses']}}<b>{{c.localize.strings['random']}}</b>{{c.localize.strings['winnerFrom']}}<i>{{c.localize.strings['itHasNeverFair']}}</i></li>
            </ul>
        </div>
        <div class="item item-text-wrap padding">
            <h2 class="positive">{{c.localize.strings['howTo']}}<b>{{c.localize.strings['participate']}}</b>{{c.localize.strings['inAnExistingWW']}}</h2>
            <ul class="padding" style="list-style:decimal; margin:15px;">
                <li>{{c.localize.strings['clixkOnWW']}}<b>"Wanna Win!"</b>{{c.localize.strings['button']}}<br/></li>
                <li>{{c.localize.strings['itWillForward']}}<br/></li>
                <li>{{c.localize.strings['caomeBack']}}</li>
            </ul>
        </div>
        <div class="item item-text-wrap padding">
            <h2 class="positive">{{c.localize.strings['howTo']}}<b>{{c.localize.strings['create']}}</b>{{c.localize.strings['aNewWW']}}</h2>
            <ul class="padding" style="list-style:decimal; margin:15px;">
                <li>{{c.localize.strings['clickOnCreateWW']}}</li>
                <li>{{c.localize.strings['thenYouWillBe']}}</li>
                <li>{{c.localize.strings['onlyPeopleWhoRepost']}}</li>
            </ul>
        </div>
        <div class="item item-text-wrap item-button-right padding">
            <h2 class="positive">{{c.localize.strings['seekingForHelp']}}</h2>
            <p style="width:50%">{{c.localize.strings['contactOurTeam']}}</p>
            <button ng-click="c.help()" class="button button-outline button-positive icon-left ion-ios-compose-outline">{{c.localize.strings['contact']}}</button>
        </div>
        <small class="padding" style="text-align: center;">Version 0.1</small>
    </div>
    </ion-content>

</ion-modal-view>