<ion-popover-view style="max-height: 240px;">
    <ion-header-bar>
        <h1 class="title">Boost your Wanna Win!</h1>
    </ion-header-bar>
    <ion-content class="text-center" >
        <div class="item item-text-wrap item-icon-left">
           <i class="icon ion-ios-bolt energized" style="transform:scale(2,2);"></i>
            Each boost shows your Wanna Win to <b>1000</b> users all over the world!

        </div>
        <div class="item">
            <button class="button button-energized"  ng-click="c.buyBoost(giveaway)">
                BUY BOOST
            </button>
        </div>

    </ion-content>
</ion-popover-view>