<ion-view view-title="{{collectionName}}">

    <ion-content>

        <ion-list>
            <div ng-show="giveaways.length==0" class="giveaway" style="opacity: 0.7;">
                <div class="item item-text-wrap">
                    <i class="flaticon-birthday19"></i>
                    <small>No Wanna Wins in {{collectionName}}</small>
                </div>
            </div>

            <!--<giveaway ng-repeat="post in giveaways track by $index" profile-image="{{post.user.profile_picture || post.profile_picture}}"
                      media-id="{{post.id}}"
                      time-left="{{post.caption.created_time}}"
                      giveaway="post.giveaway"
                      giveaway-hashtag="{{post.giveawayHashtag}}"
                      user-id="{{post.user.id || post.id}}"
                      user-link="feed"
                      media-image-link="post.images.standard_resolution.url"
                      username="{{post.user.username || post.username}}"
                      path="#/tab/popular" layout="{{layout}}">
            </giveaway>-->

                <div ng-repeat="post in giveaways track by $index" style="float:left; width:50%;">
                    <div style="margin:10px;"><a href="#/tab/popular/giveaway/{{post.id}}"><img src="{{post.images.standard_resolution.url}}" class="full-image"/></a></div>
                </div>




        </ion-list>
    </ion-content>
</ion-view>
