<ion-modal-view>
    <ion-header-bar class="bar bar-header positive-bg ">

            <button class="button button-icon icon ion-ios-close-empty light" ng-click="c.submit.close()"></button>
            <div class="h1 title light" ng-bind="{true:'JOIN GIVEAWAY', false:'CREATE GIVEAWAY'}[c.submit.post!=undefined]"></div>
            <button class="button button-icon icon ion-ios-arrow-right light" ng-disabled="stepDisabled" ng-show="c.submit.active_slide!=2" ng-click="c.submit.nextStep()"></button>

    </ion-header-bar >
    <ion-content  class="has-header">
        <ion-slide-box show-pager="false" active-slide="c.submit.active_slide">
            <ion-slide>
                <div class="item dark light-border">
                    <h3>1. Repost this image</h3>
                </div>
                <div class="item item-image">

                    <canvas id="giveaway_canvas"></canvas>
                </div>
                <div class="item">
                    <h2>Select ribbon</h2>
                </div>
                <div class="item item-text-wrap row" ng-if="c.submit.type=='new'">

                    <div class="col-25" ng-class="{true:'selected'}[c.submit.ribbon==1]" ng-click="c.submit.setRibbon(1)">
                        <img src="img/ribbons/ribbon_01.png" class="full-image" alt=""/>
                    </div>
                    <div class="col-25"  ng-class="{true:'selected'}[c.submit.ribbon==2]" ng-click="c.submit.setRibbon(2)">
                        <img src="img/ribbons/ribbon_02.png" class="full-image" alt=""/>
                    </div>
                    <div class="col-25"  ng-class="{true:'selected'}[c.submit.ribbon==3]" ng-click="c.submit.setRibbon(3)">
                        <img src="img/ribbons/ribbon_03.png" class="full-image" alt=""/>
                    </div>
                    <div class="col-25"  ng-class="{true:'selected'}[c.submit.ribbon==4]" ng-click="c.submit.setRibbon(4)">
                        <img src="img/ribbons/ribbon_04.png" class="full-image" alt=""/>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="item dark light-border item-text-wrap " style="text-align: center;">
                    <img src="img/loading.png" alt=""/>
                    <h3>Hashtag of your giveaway: <b>#{{c.submit.hashtag}}</b></h3>
                    <button class="button button-block button-positive" ng-click="c.submit.share()">SHARE ON INSTAGRAM</button>
                    <small>And then click next</small>
                </div>
                <br/><br/><br/><br/>
            </ion-slide>
            <ion-slide>
                <div class="item"  ng-if="c.submit.type=='join'">
                    <h2>
                        Adding new participant:
                    </h2>
                </div>
                <div class="item dark light-border item-icon-left item-borderless" ng-if="c.submit.type=='join'">
                    <h2>
                        <i ng-class="{false:'ion-loading-c',true:'balanced ion-checkmark-circled'}[c.submit.liked==true]"></i>
                        Like post...
                    </h2>
                </div>
                <div class="item dark light-border item-icon-left item-borderless" ng-if="c.submit.type=='join'">
                    <h2>
                        <i ng-class="{false:'ion-loading-c',true:'balanced ion-checkmark-circled'}[c.submit.followed==true]"></i>
                        Following the author...
                    </h2>
                </div>
                <div class="item item-text-wrap light-border item-icon-left assertive item-borderless" ng-if="c.submit.type=='join'">

                        <i class="icon ion-alert-circled"></i>
                       <small> Please do not <b>unfollow</b> or <b>unlike</b> the author of the giveaway untill the end of giveaway.
                        Otherwise you will be excluded from participation.</small>
                </div>

                <div class="item"  ng-if="c.submit.type=='new'">
                    <div class="list">
                        <h2>Select duration:</h2>
                        <label class="item item-radio">
                            <input type="radio" ng-model="c.submit.days" checked value="1">
                            <div class="item-content">
                               1 day
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" ng-model="c.submit.days" value="3">
                            <div class="item-content">
                                3 days
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" ng-model="c.submit.days" value="7">
                            <div class="item-content">
                                7 days
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>

                    </div>
                </div>

                <div class="item item-body" style="text-align: center">
                <button class="button button-large button-balanced" ng-click="c.submit.create()" ng-disabled="c.submit.done!=true">CREATE</button></div>
            </ion-slide>
        </ion-slide-box>
    </ion-content >
</ion-modal-view>