<ion-modal-view>
    <ion-header-bar class="bar bar-header positive-bg ">

        <button class="button button-icon icon ion-ios-close-empty light" ng-click="c.submit.close()"></button>
        <div class="h1 title light" ng-bind="{true:'{{c.localize.strings.joinCap}}', false:'{{c.localize.strings.createWWCap}}'}[c.submit.post!=undefined]"></div>
        <button class="button icon-right ion-chevron-right button-clear button-energized" ng-disabled="stepDisabled" ng-click="c.submit.nextStep()" ng-hide='(c.submit.active_slide==0  && c.submit.type=="join") || (c.submit.active_slide==2  && c.submit.type=="new")'>{{c.localize.strings['next']}}</button>

    </ion-header-bar >
    <ion-content  class="has-header" has-bouncing="false">
        <ion-slide-box show-pager="false" active-slide="c.submit.active_slide">
            <ion-slide ng-show="c.submit.type=='new'">
                <div class="item item-image item-body item-borderless" style="border: 0; text-align: left; padding-bottom: 0px;">
                    <canvas id="giveaway_canvas" class="loading-bg"></canvas>
                    <button class="button icon ion-camera cam-btn" ng-click="c.submit.selectImage()" ></button>
                </div>
                <table style="width:100%">
                    <tr>
                        <td style="width:49%">
                            <span style="float:right; padding-right: 15px; padding-bottom: 5px; font-size:18px; font-family: 'Droid Sans', sans-serif;">{{c.localize.strings['russian']}}</span>
                        </td>
                        <td style="width:2%">
                            <label class="toggle toggle-instagivaway">
                            <input type="checkbox" ng-checked="c.submit.isLangEn" ng-model="c.submit.isLangEn" ng-click="c.submit.changeLang()">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                            </label>
                        </td>
                        <td style="width:49%;" valign="bottom">
                            <span style="float:left; padding-left: 15px; padding-bottom: 5px; font-size:18px; font-family: 'Droid Sans', sans-serif;">{{c.localize.strings['english']}}</span>
                        </td>
                    </tr>
                </table>

                <h4 style="margin:0px; padding-left: 15px; margin-top: 10px; text-align: center;" class="positive">{{c.localize.strings['chooseSticker']}}</h4>
                <ion-scroll direction="x" class="v-scroll item light-bg" style="padding-top: 0px;border-top:0px;" ng-if="c.submit.type=='new'">
                    <img ng-src="img/ribbons/ribbon_01_{{c.submit.lang}}.png" class="ribbon" alt="" ng-click="c.submit.setRibbon(1)"/>
                    <img ng-src="img/ribbons/ribbon_02_{{c.submit.lang}}.png" class="ribbon" alt="" ng-click="c.submit.setRibbon(2)"/>
                    <img ng-src="img/ribbons/ribbon_03_{{c.submit.lang}}.png" class="ribbon" alt="" ng-click="c.submit.setRibbon(3)"/>
                    <img ng-src="img/ribbons/ribbon_04_{{c.submit.lang}}.png" class="ribbon" alt="" ng-click="c.submit.setRibbon(4)"/>
                    <img ng-src="img/ribbons/ribbon_05_{{c.submit.lang}}.png" class="ribbon" alt="" ng-click="c.submit.setRibbon(5)" />
                    <img ng-src="img/ribbons/ribbon_06_{{c.submit.lang}}.png" class="ribbon" alt="" ng-click="c.submit.setRibbon(6)"/>
                    <img ng-src="img/ribbons/ribbon_07_{{c.submit.lang}}.png" class="ribbon" alt="" ng-click="c.submit.setRibbon(7)" />
                    <img ng-src="img/ribbons/ribbon_08_{{c.submit.lang}}.png" class="ribbon" alt="" ng-click="c.submit.setRibbon(8)"/>
                </ion-scroll>
            </ion-slide>
            <ion-slide ng-if="c.submit.type=='new'">
                <h3 class="positive padding">{{c.localize.strings['selectWannaWinDuration']}}</h3>
                <div class="list">
                    <div class="item item-borderless ">
                        <button ng-click="c.submit.days=3"  class="button button-positive" ng-class="{false:'button-outline'}[c.submit.days==3]">{{c.localize.strings['3Days']}}</button>
                        <button ng-click="c.submit.days=7"  class="button button-positive" ng-class="{false:'button-outline'}[c.submit.days==7]">{{c.localize.strings['7Days']}}</button>
                        <button ng-click="c.submit.days=14" class="button button-positive" ng-class="{false:'button-outline'}[c.submit.days==14]">{{c.localize.strings['14Days']}}</button>
                        <button ng-click="c.submit.days=30" class="button button-positive" ng-class="{false:'button-outline'}[c.submit.days==30]">{{c.localize.strings['30Days']}}</button>
                    </div>
                </div>
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">{{c.localize.strings['caption']}}</span>
                        <textarea placeholder="{{c.localize.strings['comments']}}" ng-model="$scope.c.submit.comment"></textarea>
                    </label>
                </div>
                <ion-list>
                    <ion-checkbox ng-change="c.submit.changeGeotype('world')" ng-model="c.submit.geotypeWorld">
                        <span ng-style="{ 'opacity' : (c.submit.geotypeWorld == true) ? '1' : '0.3' }">
                            World
                        </span>
                    </ion-checkbox>
                    <ion-checkbox ng-change="c.submit.changeGeotype('country')" ng-model="c.submit.geotypeCountry">
                        <span ng-style="{ 'opacity' : (c.submit.geotypeCountry == true) ? '1' : '0.3' }">
                            country
                        </span>
                    </ion-checkbox>
                    <ion-checkbox ng-change="c.submit.changeGeotype('place')" ng-model="c.submit.geotypePlace">
                        <span ng-style="{ 'opacity' : (c.submit.geotypePlace == true) ? '1' : '0.3' }">
                            place
                        </span>
                    </ion-checkbox>
                </ion-list>
 <!--               <div class="item-input-inset input-settings-address">
                    <google-autocomplete></google-autocomplete>
                </div>-->
            </ion-slide>
            <ion-slide>
                <div class="item dark item-borderless item-text-wrap " style="text-align: center; border: 0">
                    <h2>{{c.localize.strings['shareAndComeBack']}}</h2>
                    <img src="img/image_03.png" alt="" style="max-width: 100%;"/>
                    <p>{{c.localize.strings['hashtagOfThisWannaWin']}} <b>#{{c.submit.hashtag}}</b> {{c.localize.strings['doNotDeleteIt']}}</p>
                    <button class="button button-block button-positive" ng-click="c.submit.share()">{{c.localize.strings['shareOnInstagram']}}</button>
                    <button class="button button-block button-balanced" ng-click="c.submit.checkPost()">{{c.localize.strings['done']}}</button>

                </div>
                <br/><br/><br/><br/>
            </ion-slide>

            <!-- <ion-slide>
                <div class="item item-text-wrap" ng-if="c.submit.type=='join'"> <h2>
                    Wanna win recipe:
                </h2></div>
                <div class="row" ng-if="c.submit.type=='join'">
                    <div class="col col-50">
                        <div class="item item-text-wrap dark item-borderless item-borderless">
                            <i class="balanced ion-checkmark-circled"></i>
                            Repost
                        </div>
                        <div class="item item-text-wrap dark item-borderless item-borderless">
                            <i ng-class="{false:'ion-load-c',true:'balanced ion-checkmark-circled'}[c.submit.liked==true]"></i>
                            Like post
                        </div>
                        <div class="item item-text-wrap dark item-borderless item-borderless">
                            <i ng-class="{false:'ion-load-c',true:'balanced ion-checkmark-circled'}[c.submit.followed==true]"></i>
                            Follow
                        </div>
                    </div>
                    <div class="col col-50">
                        <div class="item item-text-wrap" style="text-align: center; border: 0" >
                            <img src="img/image_04.png" alt="" style="max-width: 100%;"/>
                        </div>
                    </div>
                </div>

                <div class="item item-text-wrap item-borderless item-icon-left assertive item-borderless" ng-if="c.submit.type=='join'">
                    <i class="icon ion-alert-circled"></i>
                    <small> Please do not delete <b>repost</b>, <b>unfollow</b> nor <b>unlike</b> the author of the WW until WW ends.
                        Otherwise you will be excluded from participation.</small>
                </div>

                <div class="item"  ng-if="c.submit.type=='new'">
                    <div class="item item-image" style="border:0;">
                        <h2>You wanna win almost ready!</h2>
                        <img src="img/image_04.png" alt="" style="max-width: 50%;"/>
                    </div>
                </div>

                <div class="item item-body" style="text-align: center; border:0;">
                    <button class="button button-large button-balanced" ng-click="c.submit.doneClose()" ng-if="c.submit.type=='new'" ng-disabled="c.submit.done!=true" >DONE</button>
                    <button class="button button-large button-balanced" ng-click="c.submit.doneClose()" ng-if="c.submit.type!='new'" ng-disabled="c.submit.done!=true" >JOIN</button></div>

            </ion-slide> -->
        </ion-slide-box>
    </ion-content >
</ion-modal-view>