<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="WW">
    <ion-content class="content-bg ">
        <ion-refresher pulling-text="Pull to refresh" class="light" on-refresh="refreshGiveaway()">
        </ion-refresher>
        <div class="animated" style="opacity:0;" ng-class="loadingFadeIn && 'fadeIn'">
            <div class="item item-avatar item-button-right">
                <img src="{{post.giveaway.owner_info.InstagramAvatar}}">

                <h2><a instagram="user?username={{post.giveaway.owner_info.InstagramUsername}}" class="positive"><b>@{{post.giveaway.owner_info.InstagramUsername}}</b></a></h2>
                <p ng-show="post.giveaway.status!='completed' && timeNow<post.giveaway.expiration_timestamp">
                <div class="balanced"><span>Ends <span time="post.giveaway.expiration_timestamp" counting></span></span></div>
                </p>
                <p ng-show="post.giveaway.status!='active' && post.giveaway.owner_info.InstagramID!=c.userInstagram.data.id">
                        <b>Wanna win finished</b>
                </p>
            </div>


            <div class="row light-bg">
                <div class=" col col-50 ">
                    <img class="full-image" src="{{post.images.standard_resolution.url}}">
                </div>
                <div class="col col-50 dark" ng-show="post.giveaway">

                    <small>PARTICIPANTS</small>
                    <h3 class="positive" style="margin: 0;">{{post.giveaway.participants.totalCount}}</h3>


                    <small ng-if="post.giveaway.owner_info.InstagramID!=post.user.id"> JOINED BY</small>
                    <h4  ng-if="post.giveaway.owner_info.InstagramID!=post.user.id" style="margin: 0;" ><a instragram="user?username={{post.user.username}}" class="positive"><b>@{{post.user.username}}</b></a></h4>






                 <!--   <h2 style="margin: 0;" ng-show="post.giveaway.type=='owner'" class="energized animated {{loadingFadeIn && 'bounceIn'}}">
                        <i class="padding-right" ng-class="{false:'ion-ios-bolt-outline',true:'ion-ios-bolt'}[post.giveaway.boost>0]"></i>
                        <i class="padding-right" ng-class="{false:'ion-ios-bolt-outline',true:'ion-ios-bolt'}[post.giveaway.boost>1]"></i>
                        <i class="padding-right" ng-class="{false:'ion-ios-bolt-outline',true:'ion-ios-bolt'}[post.giveaway.boost>2]"></i>
                        <i class="padding-right" ng-class="{false:'ion-ios-bolt-outline',true:'ion-ios-bolt'}[post.giveaway.boost>3]"></i>
                        <i  ng-class="{false:'ion-ios-bolt-outline',true:'ion-ios-bolt'}[post.giveaway.boost>4]"></i>
                    </h2>

                    <button ng-show="post.giveaway.type=='owner' && post.giveaway.status=='active'" class="button button-block button-energized"  ng-click="c.openBoost($event,post.giveaway)" ng-disabled=" post.giveaway.boost==5">
                        BOOST
                    </button> -->
                    <button ng-show="post.giveaway.status=='active' && post.giveaway.type!='participating' && post.giveaway.owner_info.InstagramID !=c.userInstagram.data.id" class="button button-block button-positive" ng-click="c.submit_giveaway(post.giveaway.media_id, post.giveaway.hashtag,post.giveaway.expiration_timestamp)">
                        WANNA WIN!
                    </button>
                    <button ng-show="post.giveaway.status=='completed'" class="button button-block" disabled >
                        FINISHED
                    </button>

                    <button ng-show="post.giveaway.status!='completed' && post.giveaway.type=='participating'" class="button button-block" disabled >
                        JOINED
                    </button>
                </div>

            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">

                <a class="tab-item"  ng-click="likePost()">
                    <i class="icon " ng-class="{true:'ion-ios-heart',false:'ion-ios-heart-outline'}[post.user_has_liked==true]"></i>
                    {{post.likes.count}}
                </a>
                <a class="tab-item" instagram="media?id={{post.id}}" style="text-overflow: clip;">
                    <i class="icon ion-social-instagram"></i>
                    Open in instagram
                </a>
                <a class="tab-item" ng-click="c.report(post.images.standard_resolution.url,post.giveaway.hashtag,post.id,post.giveaway.owner_info.InstagramUsername)">
                    <i class="icon ion-alert-circled"></i>
                    Report
                </a>
            </div>
            <div class="item item-icon-left item-text-wrap light-bg  dark" ng-show="post.caption.text!=''" style="font-style: italic;">
                <i class="icon ion-quote"></i>
                {{post.caption.text}}

            </div>
            <div class="item light-bg" ng-if="post.giveaway && post.giveaway.participants.data.length!=0 && post.giveaway.status!='completed'" style="padding-bottom: 0px; border-bottom:0px;">
                <small>Recently joined:</small>
            </div>
            <ion-scroll  ng-if="post.giveaway.participants.data.length!=0  && post.giveaway.status!='completed'" direction="x" class="v-scroll item light-bg" style="padding-top: 0px;border-top:0px;">
                <img ng-repeat="joined in post.giveaway.participants.data" instagram="user?username={{joined.InstagramUsername}}" src="{{joined.InstagramAvatar}}" class="avatar" alt=""/><br>
            </ion-scroll >

            <div class="item item-text-wrap row"  ng-show="post.giveaway.status!='failed' && post.giveaway.status!='completed' && timeNow>post.giveaway.expiration_timestamp">
                <ion-spinner icon="lines" class="col col-25 spinner-positive" style="text-align: center;   padding-top: 10px;"></ion-spinner>
                <small class="col col-75">
                    Wanna Win finished.
                    Server searching for winner, please refresh.
                </small>
            </div>

            <div class="item item-icon-left"  ng-show="post.giveaway.status=='failed'">
                <i class="icon ion-sad-outline"></i>
                <small>No winner due to 0 participants</small>
            </div>



            <div class="row  light-bg" ng-show="post.giveaway.winner_info.InstagramUsername">
                <div class="col col-25">
                    <img src="{{post.giveaway.winner_info.InstagramAvatar}}" style="width:75%; text-align: center; border-radius: 100%; margin:16px 0 0 10px;" alt=""/>
                </div>
                <div class="col col-75 padding-top">
                    <h4><a instagram="user?username={{post.giveaway.winner_info.InstagramUsername}}" class="positive"><b>@{{post.giveaway.winner_info.InstagramUsername}}</b></a></h4>
                    <p>WINNER</p>
                </div>

            </div>
            <div class="item item-text-wrap" ng-show="post.giveaway.winner_info.InstagramUsername && post.giveaway.winner_info.InstagramID!='' && post.giveaway.owner_info.InstagramID==c.userInstagram.data.id">
                <small>Please contact winner to deliver him wanna win!</small>
            </div>
            <div class="item item-text-wrap" ng-show="post.giveaway.winner_info.InstagramUsername && post.giveaway.winner_info.InstagramID!='' && post.giveaway.winner_info.InstagramID==c.userInstagram.data.id">
                <h2 class="positive">You won!!! Contact the author!</h2>
            </div>
            <div class="item item-avatar item-input-inset" ng-if="post.giveaway.winner_info.InstagramUsername && post.giveaway.winner_info.InstagramID!='' && post.giveaway.winner_info.InstagramID==c.userInstagram.data.id">
                <button class="button button-positive button-block"  instagram="user?username={{post.giveaway.owner_info.InstagramUsername}}">CONTACT AUTHOR</button>
            </div>
            <div class="item item-avatar item-input-inset" ng-if="post.giveaway.winner_info.InstagramUsername && post.giveaway.winner_info.InstagramID!='' && post.giveaway.owner_info.InstagramID==c.userInstagram.data.id">
                <button class="button button-positive button-block"  instagram="user?username={{post.giveaway.winner_info.InstagramUsername}}">CONTACT WINNER</button>
            </div>
        </div>
        <div class="item item-avatar item-text-wrap" ng-repeat="comment in post.comments.data">
            <img src="{{comment.from.profile_picture}}">
            <h4 style="margin: 0;"><a instagram="user?username?id={{comment.from.username}}" class="positive"><b>@{{comment.from.username}}</b></a></h4>
            <p>
                {{comment.text}}
            </p>
        </div>
        <div class="item item-avatar item-input-inset" ng-show="post.comments.data &&  post.comments.data.length!=0" >
           <button class="button button-positive button-block" instagram="media?id={{post.id}}">OPEN COMMENTS</button>
        </div>



    </ion-content>
</ion-view>
