<div class="item item-text-wrap"   style="text-align: center; height:240px;">
        <div ng-hide="rollingWinner.data.username"><i class="icon ion-loading-c balanced" style="font-size: 100px;" ></i></div>
        <div>
            <h2 ng-show="rollingWinner.data.username"><a href="instagram://user?username={{rollingWinner.data.username}}" class="positive"><b>@{{rollingWinner.data.username}}</b></a></h2>
        <img ng-show="rollingWinner.data.username" src="{{rollingWinner.data.profile_picture}}" class="animated zoomIn" style="width:100%; text-align: center; border-radius: 100%;" />
        </div>
</div>