<ion-view view-title="Joined WW">

    <ion-content class="content-bg">

        <ion-list>
            <div ng-show="participating.length==0" class="giveaway" style="opacity: 0.7;">
                <div class="item item-text-wrap">
                    <i class="flaticon-birthday19"></i>
                    <small>You haven't joined any Wanna Wins</small>
                </div>
            </div>
            <giveaway ng-repeat="post in participating" profile-image="{{post.user.profile_picture || post.profile_picture}}"
                      media-id="{{post.id}}"
                      time-left="{{post.caption.created_time}}"
                      giveaway="post.giveaway"
                      giveaway-hashtag="{{post.giveawayHashtag}}"
                      user-id="{{post.user.id || post.id}}"
                      user-link="feed"
                      media-image-link="{{post.images.standard_resolution.url}}"
                      username="{{post.user.username || post.username}}"
                      path="#/tab/joined" layout="{{layout}}"></giveaway>


        </ion-list>
    </ion-content>
</ion-view>
