<ion-header-bar class="bar bar-subheader item-input-inset">


        <label class="item-input-wrapper" ng-click="clearSearch()">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" ng-model="searchQuery" placeholder="URL, #hashtag, @nickname">
            <button class="button button-clear">X</button>
        </label>

</ion-header-bar>
<ion-view view-title="Feed">

    <ion-content class="content-bg">
        <ion-refresher pulling-text="Pull to refresh" class="light" on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <giveaway ng-repeat="post in feed.data" profile-image="{{post.user.profile_picture || post.profile_picture}}"
                      media-id="{{post.id}}"
                      time-left="{{post.caption.created_time}}"
                      giveaway="post.giveaway"
                      giveaway-hashtag="{{post.giveawayHashtag}}"
                      user-id="{{post.user.id || post.id}}"
                      user-link="feed"
                      media-image-link="{{post.images.standard_resolution.url}}"
                      username="{{post.user.username || post.username}}"
                      path="#/tab/feed" layout="{{layout}}"></giveaway>

            <div ng-show="feed.data.length==0">
                <h1>No giveaways in your feed</h1>
            </div>
        </ion-list>
        <ion-infinite-scroll
                on-infinite="loadMore()"
                distance="10%" immediate-check="false">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
