<ion-view view-title="Joined WW">

    <ion-content class="content-bg" has-bouncing="true">

        <ion-list>
            <div ng-hide="participating" class="giveaway">
                <div class="item item-text-wrap">
                    <small>You haven't joined any Wanna Wins. How about create your own?</small>
                    <button class="button button-block button-positive icon-left flaticon-box84" ng-click="c.submit_giveaway()">Create Wanna Win</button>
                </div>
            </div>
            <giveaway ng-repeat="post in participating  track by $index" profile-image="{{post.user.profile_picture || post.profile_picture}}"
                      media-id="{{post.id}}"
                      time-left="{{post.caption.created_time}}"
                      giveaway="post.giveaway"
                      giveaway-hashtag="{{post.giveawayHashtag}}"
                      description = "{{c.getDesc(post.caption.text)}}"
                      user-id="{{post.user.id || post.id}}"
                      user-link="feed"
                      media-image-link="post.images.standard_resolution.url"
                      username="{{post.user.username || post.username}}"
                      path="#/tab/joined" layout="{{layout}}"></giveaway>


        </ion-list>
    </ion-content>
</ion-view>
