<ion-view view-title="{{c.localize.strings['myWW']}}">

    <ion-content class="content-bg">

        <ion-list>
            <div class="giveaway " style="font-style: italic;"  ng-show="giveaways!=undefined">
                <button class="button button-block button-positive icon-left flaticon-box84" ng-click="c.submit_giveaway()">{{c.localize.strings['createWannaWin']}}</button>

            </div>
            <div ng-hide="giveaways!=undefined" class="giveaway" style="opacity: 0.7;">
                <div class="item item-text-wrap">
                    <i class="flaticon-birthday19"></i>
                    <small>{{c.localize.strings['haventCreatedWW']}}</small>
                </div>
            </div>

            <giveaway ng-repeat="post in giveaways track by $index" profile-image="{{post.user.profile_picture || post.profile_picture}}"
                      media-id="{{post.id}}"
                      time-left="{{post.caption.created_time}}"
                      description = "{{c.getDesc(post.caption.text)}}"
                      giveaway="post.giveaway"
                      giveaway-hashtag="{{post.giveawayHashtag}}"
                      user-id="{{post.user.id || post.id}}"
                      user-link="feed"
                      media-image-link="post.images.standard_resolution.url"
                      username="{{post.user.username || post.username}}"
                      path="#/tab/giveaways" layout="{{layout}}">
            </giveaway>
            <div class="giveaway" ng-show="giveaways==undefined || giveaways.length==0">
                <div class="item item-image" ng-show="layout=='posts'">
                    <img class="full-image animated loading-bg" src="img/create.png" ng-click="c.submit_giveaway()">
                </div>
                <div class="item">
                    <button class="button button-positive button-block" ng-click="c.submit_giveaway()">{{c.localize.strings['createWannaWin']}}</button>
                </div>
            </div>

        </ion-list>
    </ion-content>
</ion-view>
