<ion-header-bar class="bar bar-subheader item-input-inset">


        <label class="item-input-wrapper" ng-click="clearSearch()">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" ng-model="searchQuery" placeholder="URL, #hashtag, @nickname">
            <button class="button button-clear">X</button>
        </label>

</ion-header-bar>
<ion-view view-title="Feed v0.0.0.8">

    <ion-content class="content-bg">
        <ion-refresher pulling-text="Pull to refresh" class="light" on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>

            <div class="giveaway " style="font-style: italic;">
                <button class="button button-block button-positive" ng-click="c.submit_giveaway()">Create Wanna Win</button>

            </div>

            <giveaway ng-repeat="post in feed.data track by $index" profile-image="{{post.user.profile_picture || post.profile_picture}}"
                      media-id="{{post.id}}"
                      description = "{{c.getDesc(post.caption.text)}}"
                      time-left="{{post.caption.created_time}}"
                      giveaway="post.giveaway"
                      giveaway-hashtag="{{post.giveawayHashtag}}"
                      user-id="{{post.user.id || post.id}}"
                      user-link="feed"
                      media-image-link="post.images.standard_resolution.url"
                      username="{{post.user.username || post.username}}"
                      path="#/tab/feed" layout="{{layout}}">
            </giveaway>
        </ion-list>
        <ion-infinite-scroll ng-if="layout=='posts' && loadMoreTimes<=100"
                on-infinite="loadMore()"
                distance="10%" immediate-check="true">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
