<ion-tabs class="tabs-icon-top">
  <!-- Dashboard Tab -->
  <ion-tab title="Feed" class="light-bg" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/feed">
    <ion-nav-view name="tab-feed"></ion-nav-view>
  </ion-tab>


  <!-- Chats Tab -->
  <ion-tab title="Joined WW" class="light-bg" icon-off="ion-ios-heart-outline"  badge="1" badge-style="badge-assertive" icon-on="ion-ios-heart" href="#/tab/joined">
    <ion-nav-view name="tab-joined"></ion-nav-view>
  </ion-tab>

  <!-- Friends Tab -->
  <ion-tab title="My WW" class="light-bg" badge="31" badge-style="badge-assertive" icon-off="ion-ios-briefcase-outline" icon-on="ion-ios-briefcase" href="#/tab/giveaways">
    <ion-nav-view name="tab-giveaways"></ion-nav-view>
  </ion-tab>
</ion-tabs>
