<ion-view view-title="{{post.user.username || post.username}}">

    <ion-content  class="content-bg">

        <ion-list>

            <div ng-show="feed.data.length==0" class="giveaway" style="opacity: 0.7;">
                <div class="item item-text-wrap">
                    <h1><i class="flaticon-birthday19"></i></h1>
                    <br/>
                    <small>@{{user.username}} hasn't any Wanna Wins</small>
                </div>
            </div>
            <giveaway ng-repeat="post in feed.data" profile-image="{{post.user.profile_picture || post.profile_picture}}"
                      media-id="{{post.id}}"
                      time-left="{{post.caption.created_time}}"
                      giveaway-id="{{post.giveawayHashTag}}"
                      user-id="{{post.user.id || post.id}}"
                      user-link="instagram"
                      media-image-link="{{post.images.standard_resolution.url}}"
                      username="{{post.user.username || post.username}}"
                      path="#/tab/{{tab}}" layout="{{layout}}" giveaway="post.giveaway"></giveaway>


        </ion-list>
    </ion-content>
</ion-view>
