<ion-view view-title="{{post.user.username || post.username}}">

    <ion-content  class="content-bg">

        <ion-list>


            <giveaway ng-repeat="post in feed.data" profile-image="{{post.user.profile_picture || post.profile_picture}}"
                      media-id="{{post.id}}"
                      time-left="{{post.caption.created_time}}"
                      giveaway-id="{{post.giveawayHashTag}}"
                      user-id="{{post.user.id || post.id}}"
                      user-link="instagram"
                      media-image-link="{{post.images.standard_resolution.url}}"
                      username="{{post.user.username || post.username}}"
                      path="#/tab/{{tab}}" layout="{{layout}}" giveaway="post.giveaway"></giveaway>


        </ion-list>
    </ion-content>
</ion-view>
